<% provide(:title, 'Sign in') %>

<div class="well">
  <h1>Sign in</h1>

  <%= form_tag(sessions_path, class: "form-horizontal") do %>

    <div class="form-group">
      <%= label_tag :email, nil, class: "control-label col-sm-2" %>
      <div class="col-sm-4">
        <%= text_field_tag :email, nil, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :password, nil, class: "control-label col-sm-2" %>
      <div class="col-sm-4">
        <%= password_field_tag :password, nil, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    </div>

  <% end %>
</div>
