<h3>Walls <span class="badge"><%= walls.count %></span></h3>

<table class="table">
  <% walls.each do |wall| %>
    <tr>
      <td>
        <%= link_to truncate(wall.name, length: 20), wall %>
      </td>
      <% if wall.owner_user?(current_user) %>
        <td>
          <strong>You</strong>
        </td>
        <td>
          <%= link_to wall,
                      method: :delete,
                      data: { confirm: "You sure?" },
                      class: "btn btn-xs btn-warning" do %>
            <span class="glyphicon glyphicon-remove"></span>Delete
          <% end %>
        </td>
      <% else %>
        <td colspan="2">
          <%= truncate(wall.owner_user.name, length: 20) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<p>
  <%= link_to "create wall", controller: "walls", action: "new"%>
</p>
