<% provide(:title, @user.name) %>

<h2>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h2>
<p><%= link_to "delete account", @user, method: :delete, data: { confirm: "You sure?" } %></p>

<h3>Walls</h3>

<ul>
  <% @user.walls.each do |wall| %>
    <li>
      <%= wall.name %>
      <%= link_to "delete", wall, method: :delete, data: { confirm: "You sure?" } %>
    </li>
  <% end %>
</ul>
<p><%= link_to "create wall", controller: "walls", action: "new" %></p>
