<% provide(:title, 'Create Wall') %>

<div class="well">
  <h1>Create Wall</h1>

  <%= form_for(@wall, html: {class: "form-horizontal"}) do |f| %>
    <%= render 'shared/error_messages', f: f %>

    <div class="form-group">
      <%= f.label :name, class: "control-label col-sm-2" %>
      <div class="col-sm-4">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <%= f.submit "Create new wall", class: "btn btn-large btn-primary" %>
      </div>
    </div>

  <% end %>
</div>
