<% provide(:title, @wall.name) %>

<div class="well">
  <h1><%= @wall.name %></h1>
  <h2><small>owner is <%= pronoun_or_name_for(@wall.owner) %></small></h2>

  <div class="row">
    <div class="col-sm-4">
      <%= render 'posts/form',
                  participant: @wall.participant(current_user) %>
      <%= render 'participanting_users', users: @wall.users %>
      <% if @wall.owner?(current_user) %>
        <%= render 'invite_friends', users: current_user.friend_users %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <%= render 'posts', posts: @wall.posts %>
    </div>
  </div>
</div>
