<% provide(:title, @wall.name) %>

<div class="well">
  <h1><%= @wall.name %></h1>

  <div class="row">
    <div class="col-sm-4">
      <%= render 'posts/form',
                  participant: @wall.participant(current_user) %>
      <%= render 'participanting_users', users: @wall.users %>
      <%= render 'invite_friends', users: current_user.friend_users %>
    </div>
    <div class="col-sm-8">
      <%= render 'posts', posts: @wall.posts %>
    </div>
  </div>
</div>
